body {
    background-color: #303030;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#validate {
    background-color: #0084ff;
    border: none;
    width: 200px;
    height: 30px;
    font-size: 20px;
    color: #fff;
}

#email {
    width: 300px;
    height: 25px;
    margin-right: 30px;
    padding-left: 15px;
}

#email::placeholder {
    text-align: center;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 500px;
    height: 35px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    border: 1px solid #fff;
    height: 35px;
}

.purple {
    color: #da81da;
}

.noRight {
    border-right: none;
}
